@import "./variable.css";

.card
{
    display: grid;
    align-items: center;
    text-align: center;
    border-radius: var(--corners);
    margin: 0.5rem;
    flex-grow: 1;
    font-size: 1.2rem;
    background-color: var(--bg-color-primary);
    box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.6);
}

.color
{
    min-height: 15rem;
    min-width: 10rem;
    margin: 0 1rem;
    border-radius: var(--corners);
    box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.6) inset;
    -webkit-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.6) inset;
    -moz-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.6) inset;
}

.sliders
{
    display: grid;
    margin: 0 2rem;
}