:root
{
    /*colors*/
    --bg-color-primary: #edf7f8;
    --bg-color-second: #cbd5d6;

    --accent-primary: #14b614;
    --accent-second: #029402;
    --accent-third: #007200;

    /*size*/

    --corners: 1.5rem;

    /*font*/
}